<h1>Angular - Opcional</h1>
Hacer una app muy sencilla en Angular 2+ que tenga dos páginas/rutas:
<p>
  a) <strong>/cotizaciones</strong>, que muestre las cotizaciones de las monedas real y dólar utilizando la
  Api desarrollada en el punto anterior. Agregar un botón para actualizar las
  cotizaciones.
</p>
<p>
  b) <strong>/compra</strong>, que liste las mismas cotizaciones de a) y un mini formulario de compra,con
  tres campos de texto para capturar ID de usuario, moneda y monto a comprar en
  pesos; y un botón para efectivizar la compra a través de nuestra Api. Mostrar el
  resultado de la transacción.
  Mostrar un loading wheel mientras se realiza la compra
  Se valorará la utilización de NgRx, manejo de estado, en la aplicación.
</p>
